/* Space Fonts
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
*/

/* Colors
#e83425 dark orange
#f05829 orange
#f7a967 dark beige
#f7dbab light beige
#078292 light blue
#15698e blue
#17254c dark blue
*/

:root {
  scroll-behavior: smooth;
}

html {
  height: 100%;
  /*background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);*/
  background-color: #080b0e;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

/*Scroll Bar*/

body::-webkit-scrollbar {
  background-color: #078292;
  width: 16px;
}

body::-webkit-scrollbar-track {
  background-color: #080b0e;
}

body::-webkit-scrollbar-thumb {
  background-color: #e83425;
  border-radius: 16px;
  border: 4px solid #078292;
}

body::-webkit-scrollbar-button {
  display: none;
}

model-viewer {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  padding-left: 0;
}

ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

ul li::before {
  content: "★";
  margin-right: 10px;
  color: #17254c;
  vertical-align: top;
}

ul li.right-star::before {
  order: 2;
  margin-left: 10px;
  margin-right: 0;
}

.para {
  text-align: justify;
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
  height: 10vh;
  margin-bottom: -70px;
}

.navbar-nav .nav-link {
  font-size: 30px;
}

.navbar-nav .nav-link {
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.navbar-nav .nav-link:hover {
  color: #e83425;
}

.navbar-nav .nav-item {
  margin-right: 40px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.header-title {
  font-size: 60px;
}

h2 {
  color: white;
  margin: auto;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

h4,
h5,
li {
  color: #fff;
}

p {
  color: white;
  font-size: 18px;
}

u {
  color: #078292;
}

a {
  color: white;
  font-size: 18px;
}

#porthome {
  min-height: 90vh;
  width: auto;
}

#earth {
  width: 400px;
  height: 400px;
  margin: auto;
  --progress-bar-color: none;
  --progress-bar-height: 0px;
}

#astro {
  width: 700px;
  height: 700px;
  margin: auto;
  --progress-bar-color: none;
  --progress-bar-height: 0px;
}

#rocketship {
  width: 700px;
  height: 700px;
  margin: auto;
  --progress-bar-color: none;
  --progress-bar-height: 0px;
}

#alien {
  width: 700px;
  height: 700px;
  margin: auto;
  --progress-bar-color: none;
  --progress-bar-height: 0px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

footer p {
  margin: 0%;
  font-size: 20px;
}

footer a {
  margin-left: 10px;
  position: relative;
  z-index: 10;
  font-size: 20px;
}

footer a:hover {
  color: #e83425;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
}

/*Projects Grid*/

.outer-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.right-column-2 {
  flex: 1;
}

.left-column-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  padding-top: 50px;
  position: relative;
  min-height: 756px;
}

.image-container {
  position: relative;
  display: inline-block;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.image-container img {
  width: auto;
  height: 200px;
  object-fit: cover;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.image-container:hover img {
  opacity: 0.3;
}

.image-container .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 5;
  border-radius: 5px;
}

.image-container:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.overlay a {
  color: white;
  text-decoration: none;
  background-color: #e83425;
  padding: 5px 10px;
  border-radius: 3px;
}

.tags {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  box-sizing: border-box;
}

.tags a {
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #080b0e;
  background-color: #e83425;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  z-index: 10;
}

.tags a.active {
  color: #080b0e;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #078292;
  border-radius: 5px;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  max-height: 600px;
  overflow-y: auto;
  padding-right: 10px;
}

.grid-items::-webkit-scrollbar {
  background-color: #078292;
  width: 16px;
}

.grid-items::-webkit-scrollbar-track {
  background: #080b0e;
}

.grid-items::-webkit-scrollbar-thumb {
  background-color: #e83425;
  border-radius: 16px;
  border: 4px solid #078292;
}

.grid-items::-webkit-scrollbar-button {
  display: none;
}

/*Resume*/

#resume,
#contact,
#project {
  z-index: 10;
}

.resume-container {
  flex: 2;
  display: flex;
  gap: 20px;
}

.resume-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edu {
  background-color: #e83425;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.edu:hover {
  transform: scale(1.05);
}

.edu h1,
.edu h5,
.edu p {
  text-align: right;
}

.work {
  background-color: #078292;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  max-height: 400px;
  overflow-y: auto;
}

.work:hover {
  transform: scale(1.05);
}

.work h1 {
  margin-bottom: 18px;
  color: #080b0e;
  text-align: left;
}

.work h5,
.work p,
.work a,
.work li {
  color: #080b0e;
}

.work::-webkit-scrollbar {
  width: 16px;
}

.work::-webkit-scrollbar-track {
  background-color: transparent;
}

.work::-webkit-scrollbar-thumb {
  background-color: #e83425;
  border-radius: 16px;
  border: 4px solid #078292;
}

.work::-webkit-scrollbar-button {
  display: none;
}

.skills {
  background-color: #15698e;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.skills:hover {
  transform: scale(1.05);
}

.skills h1 {
  text-align: right;
}

.skills li {
  justify-content: flex-end;
}

.awards {
  background-color: #f7a967;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.awards:hover {
  transform: scale(1.05);
}

.awards h1,
.awards li {
  color: #080b0e;
  text-align: left;
}

.h5link {
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.contactbtn {
  text-decoration: none;
}

.email {
  background-color: #f7a967;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.email:hover {
  transform: scale(1.05);
}

.email h1,
.email h5,
.email a {
  text-align: right;
  color: #080b0e;
}

.email a,
.phone a {
  font-size: 25px;
}

.phone {
  background-color: #15698e;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.phone:hover {
  transform: scale(1.05);
}

.phone h1 {
  margin-bottom: 18px;
  text-align: left;
}

.coverltr {
  background-color: #078292;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.coverltr:hover {
  transform: scale(1.05);
}

.coverltr h1 {
  text-align: right;
  color: #080b0e;
}

.linked {
  background-color: #e83425;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.linked:hover {
  transform: scale(1.05);
}

.linked h1 {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cntct h1 {
  font-size: 60px;
}

.rocket-container {
  position: relative;
  height: 0;
  overflow: visible;
}

.rocket {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  animation: bob 2s infinite ease-in-out;
}

@keyframes bob {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -8px);
  }
}
